        /* Basic styling for the password recovery interface */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .recovery-container {
            max-width: 500px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(, 0, 0, 0.10);
            text-align: center; /* Center the content horizontally */
        }
        .icon {
            font-size: 24px;
            color: #ff5555;
            margin-bottom: 20px;
        }
        .input-field {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 15px;
        }
        .send-code-button {
            width: 100%;
            padding: 10px;
            background-color: #e17a25;
            color: #ffffff;
            font-weight: bold;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }